.navy {
    background-color: #0C2B35 !important;
}

.navy-text {
    color: #0C2B35 !important;
}

.white {
    background-color: white;
}

.white-text {
    color: white;
}

.blue-text {
    color: #428BCD;
}

.dark-yellow-text {
    color: #DEBB01;
}