.tse-divider  {
  padding-top: 3em;
  padding-bottom: 3em;
}

.tse-divider-line {
  margin-top: 3em;
  width: 8em;
}

.tse-divider-line-white {
  border: 1px solid white;
}

.tse-divider-line-amber {
  border: 1px solid #ffb300;
}

.tse-divider-line-blue {
  border: 1px solid #1565c0;
}
