.tse-divider  {
  padding-top: 3em;
  padding-bottom: 3em;
}

.tse-divider-line {
  margin-top: 3em;
  width: 8em;
}

.tse-divider-line-white {
  border: 1px solid white;
}

.tse-divider-line-dark-yellow {
  border: 1px solid #DEBB01;
}

.tse-divider-line-blue {
  border: 1px solid #1565c0;
}
