.tse-footer-semicircle {
  position: relative;
  overflow: hidden;
  height: 80px;
  transform: rotate(180deg); 
  width: 100%;
  margin-top: 5em;
}

.tse-footer-semicircle::before {
  border-radius: 100%;
  background: #0C2B35;
  position: absolute;
  right: -100px;
  left: -100px;
  top: -100px;
  content: '';
  bottom: 0;
}

.tse-footer-logo {
  margin-left: -0.8em;
  max-width: 3.7em;
  max-height: 3.7em;
}

.tse-footer-social {
  color: #ffffff;
  font-size: 1.75em;
  margin-right: 1em;
}

.tse-footer-social:hover {
  color: #DEBB01;
  transition:.35s;
  -o-transition:.35s;
  -ms-transition:.35s;
  -moz-transition:.35s;
  -webkit-transition:.35s;
}

.tse-footer-link {
  color: #eeeeee;
}

.tse-footer-link:hover {
  color: #DEBB01;
  transition:.35s;
  -o-transition:.35s;
  -ms-transition:.35s;
  -moz-transition:.35s;
  -webkit-transition:.35s;
}
