/* Global */

body {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0.02em;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* Home Page */

.tse-home-apply-image {
  width: 10em;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tse-apply-button {
  background-color: #DEBB01;
}

.tse-apply-button:hover {
  background-color: #DEBB01;
}

.tse-home-project-image {
  height: 12em;
  width: auto;
}

/* About Page */

.tse-mission {
  margin-top: -2em;
  line-height: 1.7em;
}

.tse-profile-name {
  margin-top: 0.5em; 
  color: #0C2B35;
}

.tse-profile-role {
  font-size: 0.8em; 
  color: #0C2B35;
}

.tse-profile-image {
  width: 9em;
  height: 9em;
  border-radius: 15px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Projects Page */

.tse-project-image {
  height: 12em;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.tse-project-template-image {
  height: 15em;
  width: auto;
  margin-top: 2em;
}

.tse-project-title {
  margin-top: 2em;
}

.tse-project-link-amber:hover {
  color: #ffb300;
  transition:.35s;
  -o-transition:.35s;
  -ms-transition:.35s;
  -moz-transition:.35s;
  -webkit-transition:.35s;
}

.tse-project-link-blue {
  color: #96A1A1;
}

.tse-project-link-blue:hover {
  /*color: #64b5f6;*/
  color: #697B82;
  transition:.35s;
  -o-transition:.35s;
  -ms-transition:.35s;
  -moz-transition:.35s;
  -webkit-transition:.35s;
}

/* Apply Pages */

.tse-apply-container {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 1em;
}

.tse-apply-image {
  width: 14em;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tse-apply-subtitle {
  font-size: 2em;
  line-height: 1em;
}

.tse-apply-circle {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 8em; 
	display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .tse-apply-button {
    margin-top: 1em;
  }
}

.tse-slogan-container {
  width: 62em;
  margin-left: auto;
  margin-right: auto;
}

.tse-slogan {
  font-size: 1.2em;
}

.tse-nonprofits-mobile-image {
  max-width: 8em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tse-nonprofits-web-image {
  max-width: 12.9em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tse-nonprofit-button {
  background-color: #DEBB01;
}

.tse-nonprofit-button:hover {
  background-color: #DEBB01;
}

/* Images */

.tse-highlight-image {
  box-shadow: 7px 7px #DEBB01;
  border-radius: 5px;
}

.tse-generic-image {
  width: 75%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

/* Text */

.tse-text-medium {
  font-size: 1.25em;
}

.tse-text-large {
  font-size: 1.75em;
}

/* Separation */

.tse-separation-small {
  margin-top: 1em;
}

.tse-separation-medium {
  margin-top: 3em;
}

.tse-padding-medium {
  padding-top: 3em;
}
