/* Global Styling */

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* Separation */

.tse-separation-small {
  padding-top: 1em;
}

/* Image Styling */

.tse-project-image {
  max-height: 10em;
  width: auto;
}

.tse-square-image {
	position: relative;
	width: 100%;		
}

.tse-square-image:before {
	content: "";
	display: block;
}

/* Home Page Styling */

.tse-alumni-company {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar Styling */

.tse-navbar-logo {
  max-width: 7em;
  height: auto;
  margin-top: 0.75em;
}

/* Header Styling */

.tse-header {
  width: 100%;
  padding-top: 10em;
  padding-bottom: 20em;
}

.tse-header-geisel {
  background: linear-gradient(to bottom, rgba(21, 101, 192, 1), rgba(91, 117, 149, 0.95), rgba(255, 255, 255, 1)), url('../images/background-geisel.jpg');
  background-size: cover;
}

.tse-header-buttons {
  margin-top: 3em;
}

.tse-header-button {
  margin-left: 3em;
  margin-right: 3em;
}

/* Footer Styling */

.tse-footer-semicircle {
  position: relative;
  overflow: hidden;
  height: 80px;
  transform: rotate(180deg); 
  width: 100%;
}

.tse-footer-semicircle::before {
  border-radius: 100%;
  background: #1565c0;
  position: absolute;
  right: -100px;
  left: -100px;
  top: -100px;
  content: '';
  bottom: 0;
}

.tse-footer-logo {
  max-width: 7em;
  height: auto;
}

.tse-footer-social {
  color: #ffffff;
  font-size: 1.75em;
  padding-right: 1em;
}

.tse-footer-social:hover {
  color: #ffc107;
  transition:.35s;
  -o-transition:.35s;
  -ms-transition:.35s;
  -moz-transition:.35s;
  -webkit-transition:.35s;
}

.tse-footer-link {
  color: #eeeeee;
}

.tse-footer-link:hover {
  color: #ffc107;
  transition:.35s;
  -o-transition:.35s;
  -ms-transition:.35s;
  -moz-transition:.35s;
  -webkit-transition:.35s;
}
