@use "../../styles/variables.scss";

.topRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-bottom: 8px;

  @media (max-width: 800px) {
    gap: 16px;
  }

  @media (max-width: 575px) {
    gap: 10px;
  }
}

.topRow h1 {
  margin: 0;
}

.iconButton {
  padding: 5px !important;
  line-height: 0;

  @media (max-width: 575px) {
    padding: 3px !important;
  }
}

.githubLogo {
  width: 40px;
  height: 40px;

  @media (max-width: 800px) {
    width: 36px;
    height: 36px;
  }

  @media (max-width: 575px) {
    width: 18px;
    height: 18px;
  }
}

.subtitle {
  max-width: 777px;
  margin-bottom: 42px;

  @media (max-width: 800px) {
    margin-bottom: 26px;
  }

  @media (max-width: 575px) {
    margin-bottom: 18px;
  }
}

.visitButton {
  margin-bottom: 33px;
  padding: 8px 12px;

  @media (max-width: 800px) {
    padding: 5px 8px;
    font-size: 0.75rem;
  }

  @media (max-width: 575px) {
    margin-bottom: 2px;
  }
}

.visitButton p {
  @media (max-width: 800px) {
    font-size: 0.75rem !important;
  }
}

.spacer {
  margin-top: 33px;

  @media (max-width: 575px) {
    margin-top: 12px;
  }
}
