.tabItem {
  color: #cacaca;
  border-bottom: 2px solid #c4c4c4;

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}

.tabItem:global(.active) {
  color: white;
  border-bottom: 5px solid #81d8d3;
  font-weight: 600;
}
