.title {
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;
}

.title h2 {
  display: inline;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
}

.facingDown {
  transform: rotate(90deg);
}

.collapsed {
  height: 0px;
  overflow: hidden;
}

.arrow {
  font-size: 100;
  transition: 300ms ease all;
}
