@use "../styles/variables.scss";

.footer {
  margin-top: 9rem;
  margin-bottom: 1.5rem;
}

.heading {
  text-transform: uppercase;
  font-weight: 600;
}

.link {
  padding-left: 0;
  color: variables.$body-color;
}

.iconNav {
  text-align: right;
}
