.card {
  background-color: transparent;
  border: 0px;
  border-radius: 10px;
  transition: background-color 0.25s ease;

  img {
    transition: filter 0.5s ease;
    filter: grayscale(100%);
  }
}

.card:focus,
.card:hover,
.card:active {
  background-color: white;
  box-shadow: 0px 4px 20px 0px #0000000d;

  img {
    filter: none;
  }
}
