.desktop {
  display: block;

  @media (max-width: 800px) {
    display: none;
  }
}

.tablet {
  display: none;
  @media (max-width: 800px) {
    display: block;
  }
  @media (max-width: 575px) {
    display: none;
  }
}

.mobile {
  display: none;
  @media (max-width: 575px) {
    display: block;
  }
}
