.container-fluid {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container-fluid::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

picture > img {
  width: 50px;
  height: 10px;
}

.btn-group {
  float: right;
}
.carousel-control-prev {
  float: right;
}

.carousel-control-next {
  float: right;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 500px) {
  .carousel-control {
    display: none;
  }
}
