.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #00121D;
    height: 839px;
}

h2, ul {
    color: white;
}

h2 {
    padding-top: 279px;
    margin-left: 80px;
}

ul {
    list-style: none;
    text-decoration: none;
    margin-left: 50px;
    left: 0;
}

li {
    margin-top: 30px;
    margin-bottom: 30px;
}

a {
    color: inherit;
    text-decoration: none!important;
}

a:link {
    text-decoration: none!important;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

a:link:hover {
    text-decoration: underline;
    color: white;
}

#icons {
    font-size: 25px;
}