.get-involved {
  filter: grayscale(100%);
}

.get-involved:hover {
  filter: none;
}

.custom-card {
  background: blue;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
  width: 18rem;
}
