.roles-text {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile-image {
  max-width: 200px;
  margin: auto;
}

.profile-description {
  max-width: 200px;
  margin: auto;
  margin-top: 1rem;
  min-height: 6em;
}

.socials-container {
  margin-bottom: 1rem;
  font-size: 2.25rem;
}

.socials-container > a {
  color: white;
}

.socials-container > a:hover {
  color: white;
}
