.side-by-side-wrapper {
  display: flex;
  align-items: center;
}

.side-by-side {
  flex-direction: row;
}

.side-by-side-swapped {
  flex-direction: row-reverse;
}

.side-by-side-element {
  flex: 1;
}

@media only screen and (max-width: 800px) {
  .side-by-side-wrapper {
    flex-direction: column;
  }
}
