.studentAppContainer {
  margin: 60px;
}

.studentAppRow {
  margin: 50px 0px;
}

.appPositionContainer {
  padding: 8px 0px;
}

.appBtnContainer {
  display: flex;
  justify-content: flex-end;
}

#studentAppBtn {
  background-color: #163641;
  color: white;
  padding: 3px 20px;
}

.studentAppAlert {
  margin-top: 20px;
}
