.tab {
  cursor: pointer;
}

.tab > hr {
  border-top: 2px solid var(--bs-dark); /*this is color bootstrap uses for dark theme*/
  border-bottom: 2px solid;
  opacity: 1;
}

.selected > hr {
  height: 5px !important;
  border: 0;
  background-color: #4cdde2;
}

.tab-image {
  width: 75%;
  height: 0;
  padding-bottom: 75%;
}
