$font-family-sans-serif: "Inter";
$font-size-base: 1.25rem;
$font-weight-bold: 600;

$body-bg: #00121d;
$body-color: #ffffff;
$primary: #81d8d3;

$paragraph-margin-bottom: 1.5rem;
$headings-margin-bottom: 1.5rem;
